<footer class="footer py-3 mt-5" style="background-color: rgba(212, 162, 118, 0.9);">
    <div class="container position-relative" style="height: 150px;">
        <div class="row">
            <div class="col mt-auto">
                <a class="color1 fs-5"href="">Termeni și condiții</a> <br>
                <a class="color1 fs-5"href="">Politică de cookie</a>
            </div>       
            
            <div class="col mt-auto">  
                <i class="bi bi-facebook" style="color:#06b8f8"></i> <a class="color1 fs-5"href="">Facebook</a> <br> 
                <i class="bi bi-instagram" style="color:#e95950;"></i> <a class="color1 fs-5"href="">Instagram</a>     <br>
                <i class="bi bi-google" style="color:#fccc63;"></i> <a class="color1 fs-5"href="">Google</a>     
            </div>
            <div class="col color1 mt-auto">
                <span class="span fs-5">0753552492</span>   <br>
                <span class="span">Str Gavriil Musicesu, nr 6, bl 7A, Mezanin.</span>  <br>
                <!-- <a class="color1 fs-5"href=""><i class="bi bi-geo-alt" style="color: #006400;"></i>Harta</a>  -->
            </div> 
        </div>
        

        <span class = "color position-absolute top-100 start-50 translate-middle mt-0">&copy;Cafetish 2022</span>
    </div>
</footer>