<footer class="footer py-3 mt-5" style="background-color: rgba(212, 162, 118, 0.2);">
    <div class="container-flex position-relative" style="max-height: 500px;">
        <div class="row">
            <div class="col-lg-4 my-auto order-3 order-lg-1">
                <div class="row">
                    <div class="col-6 offset-3">
                        <a class="color1 fs-5"href="">Termeni și condiții</a> <br>
                        <a class="color1 fs-5"href="">Politică de cookie</a> <br>
                        <span class="color1 fs-6">&copy;Cafetish 2022</span>
                    </div>
                </div>
                
            </div>       
            <div class="col-lg-4 my-auto order-2 order-lg-2">  
                <div class="row">
                    <div class="col-7 offset-3">
                <a href="https://www.facebook.com/Cafetish"><i class=" bi bi-facebook" style="color:#06b8f8; font-size:30px;"></i></a> 
                <a href="https://www.instagram.com/_cafetish_/"><i class="bi bi-instagram mx-2" style="color:#e95950;font-size:30px;"></i></a>   
                <a href="https://goo.gl/maps/JCJ6LWXRrfcrdXSU8"><i class="bi bi-geo-alt" style="color:#fccc63;font-size:30px;"></i></a>     
                <a href="mailto:cafetish.office@gmail.com"><i class="bi bi-envelope mx-2" style="color:#90f1ef;font-size:30px;"></i></a>  
                <a href="tel:+40753552492"><i class="bi bi-telephone" style="color:#006400;font-size:30px;"></i></a>  
            
                    </div>
                </div>
                   
            </div>
            <div class="col-lg-4 my-3 order-2 order-lg-3">
                <div class="row">
                    <div class="col-7 offset-3">
                        <span class="span fs-5">Adresă: </span>  <br>
                        <span class="span">Str Gavriil Musicesu, nr 6, <br> bl 7A, Mezanin, <br> Iași, Romania, 700123</span>  <br>
                    </div>
                </div>
                
            </div> 
        </div>
        

        
    </div>
</footer>