
<nav id="mainNav"class="navbar navbar-dark navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1669060120/ProduseI/Logo_Cafetish-02-negru_zhchuk.png" alt="Bootstrap" width="70" height="35">
        </a>
        <a class="nav-link nav-color d-lg-none" aria-current="page" href="/meniu">Meniu</a>
        <a href="/order/cart" class="nav-color">
          <i class="bi bi-cart3 d-lg-none" ></i>
          <% if(session.cart) {%> 
          <span class="badge d-lg-none">x<%=session.cart.totalQty%> </span>
          <% } %> 
        </a>
        <button class="navbar-toggler bg-transparent"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link nav-color" aria-current="page" href="/meniu">Meniu</a>
            </li>
          </ul>
          <a href="/order/cart" class="nav-color ms-3">
            Coș
            <i class="bi bi-cart3 nav-color"></i>
            <% if(session.cart) {%> 
            <span class="badge">x<%=session.cart.totalQty%> </span>
            <% } %> 
            </a>
          <div class="navbar-nav ms-auto">
            <% if(autUser && autUser.admin===flowerpower) {%> 
            <li class="nav-item">
                <a class="nav-link nav-color" href="/order">Comenzi</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle nav-color" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Adaugă
                </a>
                <ul class="dropdown-menu bg-transparent">
                  <li><a class="dropdown-item nav-color" href="/meniu/cats">Categorie Produse</a></li>
                  <li><a class="dropdown-item nav-color" href="/meniu/cats/produs/nou">Produse</a></li>
                  <li><a class="dropdown-item nav-color" href="/meniu/cafea-nou">Cafea</a></li>
                </ul>
              </li>
              <% } %> 
            </div>
          
           
          
          <div class="navbar-nav ms-auto"> 
            <% if(!autUser) {%> 
            <a href="/user/login" class = "nav-link nav-color">Login</a>
            <a href="/user/register" class = "nav-link nav-color">Register</a>
            <% } else{%> 
            <a href="/user/logout" class = "nav-link nav-color">Logout</a>
            <% } %> 
          </div>
        
        </div>
      </div>
  </nav>
  <div class="col-12" style="height:120px;"></div>

  <script>
    $(function(){
      $(document).scroll(function(){
        var $nav = $("#mainNav")
        $nav.toggleClass("scrolled", $(this).scrollTop()>$nav.height())
    })
    })
  </script>


