<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <div class="container text-center text-white">
    <div class="row">
        <div class="col-lg-6 offset-md-3">
            <h1>Salutare!</h1>
            <p class="lead">Bine ai venit la Cafetish! Aici poți sauvura o<br>cafea de specialitate și o carte bună.</p>
            <a href="/meniu" class="btn btn-lg btn-secondary font-whight-bold bg-white" id="btn">Meniu</a>

        </div>
    </div>
</div>
           
        
        




