<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafetish</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body class = "d-flex flex-column vh-100">

    <nav class="navbar navbar-dark navbar-expand-lg bg-transparent mb-auto">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
              <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1669059903/ProduseI/Logo_Cafetish_Alb-02_qmietq.png" alt="Bootstrap" width="80" height="40">
            </a>
            <button class="navbar-toggler bg-transparent"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link text-white" aria-current="page" href="/meniu">Meniu</a>
                </li>
              </ul>
              <div class="navbar-nav ms-auto">
                  <% if(autUser && autUser.admin===flowerpower) {%> 
                <li class="nav-item">
                    <a class="nav-link text-white" href="/comanda">Comenzi</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Adaugă
                    </a>
                    <ul class="dropdown-menu bg-transparent">
                      <li><a class="dropdown-item text-white" href="/meniu/cats">Categorie Produse</a></li>
                      <li><a class="dropdown-item text-white" href="/meniu/cats/produs/nou">Produse</a></li>
                      <li><a class="dropdown-item text-white" href="/meniu/cafea">Cafea</a></li>
                    </ul>
                  </li>
                  <% } %> 
                </div>
              
              <a href="/order/cart" class="text-white">
                <i class="bi bi-cart3"></i>
                Coș cu bunătăți
                <% if(session.cart) {%> 
                <span class="badge bg-danger"><%=session.cart.totalQty%> </span>
                <% } %> 
              </a>
              
              <div class="navbar-nav ms-auto"> 
                <% if(!autUser) {%> 
                <a href="/user/login" class = "nav-link text-white">Login</a>
                <a href="/user/register" class = "nav-link text-white">Register</a>
                <% } else{%> 
                <a href="/user/logout" class = "nav-link text-white">Logout</a>
                <% } %> 
              </div>
            
            </div>
          </div>
      </nav>

    <div class="container text-center text-white">
        <div class="row">
            <div class="col-lg-6 offset-md-3">
                <h1>Salutare!</h1>
                <p class="lead">Bine ai venit la Cafetish!<br>Aici poți sauvura o cafea de specialitate într-un mediu plăcut.</p>
                <a href="/meniu" class="btn btn-lg btn-secondary font-whight-bold bg-white" id="btn">Meniu</a>
    
            </div>
        </div>
    </div>

   
    
           
<footer class="footer py-3 mt-auto bg-transparent">
    <div class="container position-relative">
        <span class = "text-white position-absolute top-100 start-50 translate-middle mt-0">&copy;Cafetish 2022</span>
    </div>
</footer>
        
</body>
</html>




