<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-lg-6 offset-lg-3 text-center">
        <h4>Cash <%=cash%></h4>
        <h4>Card <%=card%></h4>
        <h4>Total <%=cash+card %></h4>
    </div>
</div>