<% layout('layouts/boilerplate') %>
  <script src="/javascripts/show.js" defer></script>

  <div class="row">
    <div class="col-lg-4">
      <h3 class="fs-3">Account delails</h3>
      <div class="mt-1">
        <span class="ms-1"> Name:</strong>
          <%=user.username || user.onlineName%>
        </span> <br>
        <span class="ms-1">Email: <%=user.email%></span> <br>
        <span class="ms-1">Telephone: <%=user.telefon%></span>
      </div>
    </div>
    <div class="showDiv col-lg-4">
      <h3 class="fs-3">Orders</h3>
      <div class="output">

      </div>
    </div>
    <div class="showDiv col-lg-4">
      <h3 class="fs-3">Gift Cards</h3>
      <div class="output1">

      </div>
    </div>

  </div>