@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
body {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.2)), linear-gradient(#83552d, 30%, #d09259, rgba(155, 116, 74, 1), #83552d);
    background-size: cover;
    background-position: center;
 
}

.card {
    background-image: linear-gradient(rgba(176,137,104,0.6), rgba(176,137,104,0.6));
}

a:link{
    text-decoration: none;
}

#clip{
    height: 420px;
    width: 600px;
}


input[type="file"] {
    display: none;
}

.custom-file-upload {
    height: 40px;
    width: 1300px;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.btn{
    border: 1px solid white;
}

#h1{
    font-size: 210%;
    font-family: Marcellus;
}


h3, h2, p, h5, h1, span, label, input, strong{
    font-family: Marcellus, sans-serif;
}

label{
    color: black;
    font-weight: 500;
}

.navbar, .btn{
    font-family: Marcellus;
    font-size: 20px;
    border-color: black;
}

.counter {
      width: 150px;
      float: right;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  li {
    border: none;
  }

  hr{
    color:bisque;
  }

  /* .pay{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  } */

  #pay{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: bisque;
    background-color: #6a994e;
    filter: drop-shadow(0 0 0.75rem #fcbf49);
  }

  .btn {
    border: none;
    background-color: #d4a373;
    filter: drop-shadow(0 0 0.5rem #fcbf49);
    color: #432818;
  }







.form-control::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #fff;
    opacity: 0.4;
    font-size: small;
}
.form-control:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 0.4;
    font-size: small;
    
}
.form-control::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 0.4;
    font-size: small;
    
}
.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
    opacity: 0.4;
    font-size: small;
}