body {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0, 0.2), rgba(0,0,0, 0.2)), linear-gradient(#83552d, 30%, #d09259, rgba(155, 116, 74, 1), #83552d);
    background-size: cover;
    background-position: center;
 
}



.card {
    background-image: linear-gradient(rgba(176,137,104,0.6), rgba(176,137,104,0.6));
}

a:link{
    text-decoration: none;
}

#clip{
    height: 420px;
    width: 600px;
}


input[type="file"] {
    display: none;
}

.custom-file-upload {
    height: 40px;
    width: 1300px;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.btn{
    border: 1px solid white;
}

#h1{
    font-size: 210%;
    font-family: Marcellus;
}

h3, p, h1, span{
    font-family: Marcellus, sans-serif;
}

.navbar, .btn{
    font-family: Marcellus;
    font-size: 20px;
}