@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
body {
    height: 100vh;
    /* background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), linear-gradient(#9c6644, 30%, #eda268, #9c6644); */
    background-size: cover;
    background-position: center;
 
}

.img-fluid {
    background-image: linear-gradient(rgba(249, 206, 163, 0.4), rgba(176,137,104,0.3));
}

#username, #password, #telefon, #email{
  border-color:#432818;
  color:#ffd7ba;
}

a:link{
    text-decoration: none;
}

a:hover{
  color:#ffedd8;
}
.nav-link, .bi-cart3:hover{
  color:#ffedd8;
}

#clip{
    height: 420px;
    width: 600px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    height: 40px;
    width: 1300px;
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#h1{
    font-size: 210%;
}


h3, h2, p, h5, h1, span, label, input, strong, a, select, textarea{
    font-family: Inconsolata, monospace;
}


label{
    /* color: White; */
    font-size: 13px;
}

.navbar, .btn{
    font-family: Inconsolata, monospace;
    font-size: 20px;
    border-color: black;
}

.nav-color{
  color:#432818;
}

.navbar.scrolled{
  background-color: rgba(212, 162, 118, 0.9);
}

.navbar, .footer {
  background-color: rgba(212, 162, 118, 0.5);
}

.counter {
      width: 60px;
      float: right;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  li {
    border: none;
  }


  #pay{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#432818;
    border-color:#432818;
    background-color: #d4a373;
  }

  #pay:hover{
    background-color: #ffd7ba;
  }


  .btn {
    border: none;
    background-color: #d4a373;
    color: #432818;
  }

  .btn:hover{
    background-color: #ffd7ba;
  }

 #detaliiCafea {
    font-size: 1.2rem;
    color:#43281c;
    cursor:pointer;
}
#detaliiCafea:hover{
  color:#774936;
}


.badge{
  background-color: #ede0d4;
  color:#432818;
}

.color{
    color: #432818;
  }

.color1{
  color:#432818;
}

.alert{
  background-color: #ede0d4;
  color: #432818;
  font-family: Inconsolata, monospace;
  font-size: 20px;

}

#cafea{
    border-color: #432818;
  }

#comentarii, #timp, #cart, #totalCart{
  border-color: #432818;
}

#comentarii{
  color:#432818;
}

/* 
  @media (max-width: 800px) {
      .footHide{
        display: none;
      }
    
  } */


/* placeholder text area color */

.form-control::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #432818;;
    opacity: 0.6;
    font-size: 17px;
}
.form-control:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #432818;;
    opacity: 0.6;
    font-size: 17px;
    
}
.form-control::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #432818;;
    opacity: 0.6;
    font-size: 17px;
    
}
.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #432818;;
    opacity: 0.6;
    font-size: 17px;
}

