<% layout('layouts/boilerplate') %>
<script src="/javascripts/blog.js" defer></script>
<h1 class="color fw400 text-center">Tot ce vrei să știi despre</h1>
<h2 class="color fw400 text-center mb-4"></h2>

<div class="content">
    <img src="" class="img-fluid" id="artImg" alt="">
    <div class="text">
        <p class="color fs-5">
     
        </p>
    </div>
    
    <i class="bi bi-arrow-90deg-left pointer fs-5" id="close">Înapoi</i>
    <% if(autUser && autUser.admin===flowerpower) {%> 
    <a href="" class="color fs-3 fw400 modifica">Modifică</a>
    <% } %> 
</div>

<div class="anim">
<div class="borcan" style="max-height:240px;">
    <div class="delivery"style="width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1674929601/ProduseI/Planta%CC%86_wcqrdm.png" 
        class='img-fluid img'alt=""id='i0'style="width:160px; height:120px; margin-top:120px;">
    </div>
    <div class="delivery"style="width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673964284/ProduseI/Planta%CC%86_23_b0jguv.png" 
        class='img-fluid img'alt=""id='i1'style="width:160px; height:120px; margin-top:120px;">
    </div>
    <div class="delivery"style="width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673963398/ProduseI/Planta%CC%86_15_rmwhxq.png" 
        class='img-fluid img'alt="" id="i2"style="width:160px; height:120px; margin-top:120px;">
    </div>
    <div class="delivery"style="width:230px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673963181/ProduseI/Planta%CC%86_12_gqd6bt.png" 
        class='img-fluid img'alt="" id="i3"style="width:200px; height:160px; margin-top:80px; margin-right:30px;">
    </div>
    <div class="delivery"style="max-width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673963099/ProduseI/Planta%CC%86_11_j0qxhu.png" 
        class='img-fluid img'alt=""id='i4'style="width:160px; height:120px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673962511/ProduseI/Planta%CC%86_3_fn32s2.png" 
        class='img-fluid img'alt="" id="i5" style="width:160px; height:120px;">
    </div>
    <div class="delivery"style="max-width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673962751/ProduseI/Planta%CC%86_6_p71igb.png" 
        class='img-fluid img'alt="" id="i6"style="width:160px; height:120px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673962831/ProduseI/Planta%CC%86_7_y4dmmi.png" 
        class='img-fluid img'alt=""id="i7" style="width:160px; height:120px;">
    </div>
    <div class="delivery" style="width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673962901/ProduseI/Planta%CC%86_8_b8atbs.png" 
        class='img-fluid img'alt="" id="i8"style="width:160px; height:120px; margin-top:120px;">
    </div>
</div>
<div class="borcan" style="max-height:240px;">
    <div class="delivery"style="max-width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673963586/ProduseI/Planta%CC%86_18_s5pde9.png" 
        class='img-fluid img'alt="" id="i9"style="width:160px; height:120px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673964231/ProduseI/Planta%CC%86_22_gttsyq.png" 
        class='img-fluid img'alt="" id="i10"style="width:160px; height:120px;">
    </div>
    <div class="delivery"style="max-width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673964339/ProduseI/Planta%CC%86_24_temfal.png" 
        class='img-fluid img'alt=""id="i11"style="width:160px; height:120px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673964146/ProduseI/Planta%CC%86_21_aezfrw.png" 
        class='img-fluid img'alt=""id="i12"style="width:160px; height:120px;">
    </div>
    <div class="delivery"style="width:200px; height:160px; margin-bottom:60px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673963300/ProduseI/Planta%CC%86_14_neupyb.png" 
        class='img-fluid img'alt="" id="i13" style="width:200px; height:160px;">
    </div>
    <div class="delivery"style="width:250px; height:200px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673962297/ProduseI/Cafea_22_wizpaw.png" 
        class='img-fluid img'alt="" id="i14" style="width:250px; height:200px; border-radius: 50%;">
    </div>
    <div class="delivery"style="width:200px; height:160px; margin-bottom:60px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673962133/ProduseI/Planta%CC%86_1_yja9ym.png" 
        class='img-fluid img'alt="" id="i15" style="width:200px; height:160px;">
    </div>
    <div class="delivery ms-2" style="width:200px; height:160px; margin-bottom:75px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673962636/ProduseI/Planta%CC%86_4_ok9g13.png" 
        class='img-fluid img'alt="" id="i16" style="width:200px; height:140px;">
    </div>
    <div class="delivery"style="max-width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673962969/ProduseI/Planta%CC%86_9_dsypah.png" 
        class='img-fluid img'alt=""id="i17"style="width:160px; height:120px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673963021/ProduseI/Planta%CC%86_10_nly1tq.png" 
        class='img-fluid img'alt="" id="i18"style="width:160px; height:120px;">
    </div>
</div>
<div class="borcan">
    <div class="delivery"style="width:200px; height:170px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673963238/ProduseI/Planta%CC%86_13_hmryzd.png" 
        class='img-fluid img'alt=""id="i19"style="width:200px; height:170px;">
    </div>
    
</div>
</div>