<% layout('layouts/boilerplate') %>
<script src="/javascripts/blog.js" defer></script>
<h1 class="color fw400 text-center">Tot ce vrei să știi despre</h1>
<h2 class="color fw400 text-center mb-4"></h2>

<div class="content">
    <div class="text">
        <p class="color fs-5">
     
        </p>
    </div>
    <i class="bi bi-x pointer fs-1" id="close"></i>
</div>

<div class="anim">
<div class="borcan" style="max-height:240px;">
    <div class="delivery"style="width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673099135/ProduseI/Cafea_17_qjbgpk.png" 
        class='img-fluid img'alt=""id='i0'style="width:160px; height:120px; margin-top:120px;">
    </div>
    <div class="delivery"style="width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673099451/ProduseI/Cafea_20_dt2fhr.png" 
        class='img-fluid img'alt=""id='i1'style="width:160px; height:120px; margin-top:120px;">
    </div>
    <div class="delivery"style="width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673098632/ProduseI/Cafea_15_ykjsur.png" 
        class='img-fluid img'alt="" id="i2"style="width:160px; height:120px; margin-top:120px;">
    </div>
    <div class="delivery"style="width:230px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673087852/ProduseI/Cafea_5_twuman.png" 
        class='img-fluid img'alt="" id="i3"style="width:200px; height:160px; margin-top:80px; margin-right:30px;">
    </div>
    <div class="delivery"style="max-width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673096940/ProduseI/Cafea_12_vcdtfm.png" 
        class='img-fluid img'alt=""id='i4'style="width:160px; height:120px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673088548/ProduseI/Cafea_7_aautvr.png" 
        class='img-fluid img'alt="" id="i5" style="width:160px; height:120px;">
    </div>
    <div class="delivery"style="max-width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673097096/ProduseI/Cafea_13_qbjjbj.png" 
        class='img-fluid img'alt="" id="i6"style="width:160px; height:120px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673089037/ProduseI/Cafea_8_gzfczf.png" 
        class='img-fluid img'alt=""id="i7" style="width:160px; height:120px;">
    </div>
    <div class="delivery" style="width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673095686/ProduseI/Cafea_11_j4zfbo.png" 
        class='img-fluid img'alt="" id="i8"style="width:160px; height:120px; margin-top:120px;">
    </div>
</div>
<div class="borcan" style="max-height:240px;">
    <div class="delivery"style="max-width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673098983/ProduseI/Cafea_16_iglhr4.png" 
        class='img-fluid img'alt="" id="i9"style="width:160px; height:120px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673099187/ProduseI/Cafea_18_pdtbex.png" 
        class='img-fluid img'alt="" id="i10"style="width:160px; height:120px;">
    </div>
    <div class="delivery"style="max-width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673097916/ProduseI/Cafea_14_i0pf9r.png" 
        class='img-fluid img'alt=""id="i11"style="width:160px; height:120px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673538600/ProduseI/Cafea_23_vve4re.png" 
        class='img-fluid img'alt=""id="i12"style="width:160px; height:120px;">
    </div>
    <div class="delivery"style="width:200px; height:160px; margin-bottom:60px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673083554/ProduseI/Cafea_2_t9at0h.png" 
        class='img-fluid img'alt="" id="i13" style="width:200px; height:160px;">
    </div>
    <div class="delivery"style="width:250px; height:200px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673083410/ProduseI/Cafea_1_zyv5h6.png" 
        class='img-fluid img'alt="" id="i14" style="width:250px; height:200px; border-radius: 50%;">
    </div>
    <div class="delivery"style="width:200px; height:160px; margin-bottom:60px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673087620/ProduseI/Cafea_4_cp2hnh.png" 
        class='img-fluid img'alt="" id="i15" style="width:200px; height:160px;">
    </div>
    <div class="delivery ms-2" style="width:200px; height:160px; margin-bottom:75px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673088343/ProduseI/Cafea_6_mogc3e.png" 
        class='img-fluid img'alt="" id="i16" style="width:200px; height:140px;">
    </div>
    <div class="delivery"style="max-width:160px; height:240px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673089619/ProduseI/Cafea_9_xlbdai.png" 
        class='img-fluid img'alt=""id="i17"style="width:160px; height:120px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673095570/ProduseI/Cafea_10_qgla8z.png" 
        class='img-fluid img'alt="" id="i18"style="width:160px; height:120px;">
    </div>
</div>
<div class="borcan">
    <div class="delivery"style="width:200px; height:170px;">
        <img src="https://res.cloudinary.com/dhetxk68c/image/upload/v1673085476/ProduseI/Cafea_3_xlh6uj.png" 
        class='img-fluid img'alt=""id="i19"style="width:200px; height:170px;">
    </div>
    
</div>
</div>